@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

body {
  background-color: #0e1a21; 
  color: #f0f8ff;
  font-family: "Geologica";
  margin: 0px;
}


img {
  width: 120px;
  height: 120px;          
  object-fit: cover;
  border: 3px solid white;     
}

.letter {
  width: 100px;
  height: 100px;
  background-color: #0e1a21;   
  border: 15px solid skyblue;     
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 48px;
  font-weight: 600;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 40px;

  

}

.letter i{
  font-size: 80px;
}


section {
  padding: 40px;
  min-height: 100vh;
  border-bottom: gray 1px solid;
  text-align: left;
}

section:last-of-type {
  border-bottom: none;
}



aside{

  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  background-color: #2694ac ;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: center; 
}
aside ul{
  list-style: none;
  padding: 0;
  margin: 0;
  

}
a{
  text-decoration: none;
  color: #05d1e9;
}
aside a{
  color: white;
}



main {
  margin-left: 280px; 

 
}


 p {
  font-size: 14px;   
  line-height: 1.6;  
 }